{% if itemLevel > 1 %}
    {% set isCollapsed = "collapse" %}
{% else %}
    {% set isCollapsed = "" %}
{% endif %}
{% if iteration is not defined %}
{% set iteration = '0' %}
{% endif %}




<ul id="Sublayer{{ itemLevel~'-'~iteration }}" class="list-group {{ isCollapsed }} pl-{{ itemLevel }} list-group-flush ">
    <li class="list-group-item">
        <table class="table">
            {% for key in ["name", "title", "abstract", "queryable", "cascaded", "opaque", "noSubset", "fixedWidth", "fixedHeight",   ] %}
                {% if attribute(layer,key)|length > 0 %}
                    <tr>
                        <td>{{ ("mb.wms.wmsloader.repo.layer.label."~key)  | trans }}</td>
                        <td>{{ attribute(layer,key) }}</td>
                    </tr>
                {% endif %}
            {% endfor %}

            {% if layer.latlonBounds != null %}
                <tr>
                    <td>{{ "mb.wms.wmsloader.repo.layer.label.latlonbounds" | trans }}:</td>
                    <td>{{ layer.latlonBounds.srs }} {{ layer.latlonBounds.minx }}
                        , {{ layer.latlonBounds.miny }}, {{ layer.latlonBounds.maxx }}
                        , {{ layer.latlonBounds.maxy }}
                    </td>
                </tr>
            {% endif %}
            {% if layer.boundingBoxes|length > 0 %}
                <tr>
                    <td>{{ "mb.wms.wmsloader.repo.layer.label.boundingbox" | trans }}:</td>
                    <td>
                        <ul class="list-unstyled">
                            {% for bbox in layer.boundingBoxes %}
                                <li>
                                    <span>{{ bbox.srs }} {{ bbox.minx }},{{ bbox.miny }},{{ bbox.maxx }},{{ bbox.maxy }}</span>
                                </li>
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
            {% endif %}


            {% if layer.srs|length > 0 %}
                <tr>
                    <td>{{ "mb.wms.wmsloader.repo.layer.label.srs" | trans }}:</td>
                    <td>
                        {% for srs in layer.srs %}
                            <span class="badge badge-secondary">{{ srs }}</span>
                        {% endfor %}
                    </td>
                </tr>
            {% endif %}
            {% if layer.styles|length > 0 %}
                <tr>
                    <td>{{ "mb.wms.wmsloader.repo.layer.label.styles" | trans }}:</td>
                    <td class="collapse">
                        {% for style in layer.styles %}
                            {% if not loop.first %}<br/>{% endif %}
                            <span>{{ "mb.wms.wmsloader.repo.layer.label.name" | trans }}: {{ style.name }}</span>
                            <span>{{ "mb.wms.wmsloader.repo.layer.label.title" | trans }}
                : {{ style.title }}</span>
                            <span>{{ "mb.wms.wmsloader.repo.layer.label.abstract" | trans }}: {{ style.abstract }}</span>
                            <span>
            {{ "mb.wms.wmsloader.repo.layer.label.legendurl" | trans }}:
            {% if style.legendUrl is not null %}
                {{ style.legendUrl.width }}X{{ style.legendUrl.height }}
                {{ style.legendUrl.onlineResource.format }} {{ style.legendUrl.onlineResource.href }}
            {% endif %}
          </span>
                            <span>
            {{ "mb.wms.wmsloader.repo.layer.label.stylesheeturl" | trans }}:

            {% if layer.styleSheetUrl is defined %}
                {{ style.styleSheetUrl.format }} {{ style.styleSheetUrl.href }}
            {% endif %}<br/>
          </span>

                            <span>
            {{ "mb.wms.wmsloader.repo.layer.label.styleurl" | trans }}:
            {% if layer.styleUrl is defined %}
                {{ style.styleUrl.format }} {{ style.styleUrl.href }}
            {% endif %}
          </span>
                        {% endfor %}
                    </td>
                </tr>
            {% endif %}

            {% if layer.scale is defined and layer.scale != '' %}
                <tr>
                    <td >{{ "mb.wms.wmsloader.repo.layer.label.scale" | trans }}:</td>

                    <td>
                        {{ "mb.wms.wmsloader.repo.layer.label.min" | trans }}
                        :{% if layer.scale.min is not null %}{{ '%d'|format(layer.scale.min) }}{% endif %}<br/>
                        {{ "mb.wms.wmsloader.repo.layer.label.max" | trans }}
                        :{% if layer.scale.max is not null %}{{ '%d'|format(layer.scale.max) }}{% endif %}
                    </td>

                </tr>
            {% endif %}
            {% if layer.scaleHint is defined and layer.scaleHint != '' %}
                <tr>
                    <td>{{ "mb.wms.wmsloader.repo.layer.label.scalehint" | trans }}:</td>
                    <td>
                        {{ "mb.wms.wmsloader.repo.layer.label.min" | trans }}
                        :{% if layer.scaleHint.min is not null %}{{ layer.scaleHint.min }}{% endif %} /
                        {{ "mb.wms.wmsloader.repo.layer.label.max" | trans }}
                        :{% if layer.scaleHint.max is not null %}{{ layer.scaleHint.max }}{% endif %}
                    </td>
                </tr>
            {% endif %}
            {% if layer.attribution is defined and layer.attribution != '' and layer.attribution|length > 0 %}
                <tr>
                    <td>{{ "mb.wms.wmsloader.repo.layer.label.attribution" | trans }}:</td>
                    <td>
                        <ul class="list-unstyled">
                            <li>
                                <span>{{ "mb.wms.wmsloader.repo.layer.label.title" | trans }}:{{ layer.attribution.title }}</span>
                            </li>
                            <li>
                                <span>{{ "mb.wms.wmsloader.repo.layer.label.onlineresource" | trans }}:{{ layer.attribution.onlineResource }}</span>
                            </li>
                            <li>
            <span>
              {{ "mb.wms.wmsloader.repo.layer.label.logourl" | trans }}:
              {{ layer.attribution.logoUrl.width }}X{{ layer.attribution.logoUrl.height }}
                {{ layer.attribution.logoUrl.onlineResource.format }} {{ layer.attribution.logoUrl.onlineResource.href }}
            </span>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endif %}
            {% if layer.identifier is defined and layer.identifier|length > 0 %}
                <tr>
                    <td>{{ "mb.wms.wmsloader.repo.layer.label.identifier" | trans }}:</td>
                    <td>
                        <ul class="list-unstyled">
                            {% for identifier in layer.identifier %}
                                {% if identifier.authority is defined and identifier.authority != '' %}
                                    <li>
              <span>
                {{ "mb.wms.wmsloader.repo.layer.label.authority" | trans }}:
                {{ "mb.wms.wmsloader.repo.layer.label.url" | trans }} {{ identifier.authority.url }}
                  {{ "mb.wms.wmsloader.repo.layer.label.name" | trans }} {{ identifier.authority.name }}
              </span>
                                    </li>
                                {% endif %}
                                {% if identifier.value is defined %}
                                    <li>
                                        <span>{{ "mb.wms.wmsloader.repo.layer.label.value" | trans }}: {{ identifier.value }}</span>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
            {% endif %}
            {% if layer.authority is defined and layer.authority|length > 0 %}
                <tr>
                    <td>{{ "mb.wms.wmsloader.repo.layer.label.authority" | trans }}:</td>
                    <td>
                        <ul class="list-unstyled">
                            {% for authority in layer.authority %}
                                <li>
                                    {% set authorityUrl  = authority.url | slice(0,4) == 'http' ? authority.url : 'http://' ~ authority.url %}

                                    <a href="{{ authorityUrl }}" target="blank">
                                        {% if authority.name is defined %}
                                            {{ authority.name }}
                                        {% else %}
                                            {{ authorityUrl }}
                                        {% endif %}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
            {% endif %}
            {% if layer.metadataUrl is defined and layer.metadataUrl|length > 0 %}
                <tr>
                    <td>{{ "mb.wms.wmsloader.repo.layer.label.metadataurl" | trans }}:</td>
                    <td>
                        <ul class="list-unstyled">
                            {% for metadataUrl in layer.metadataUrl %}
                                <li>
            <span>
              <span class="badge badge-secondary">{{ metadataUrl.type }}</span>
                <span class="badge badge-secondary">  {{ metadataUrl.onlineresource.format }} </span>{{ metadataUrl.onlineresource.href }}
            </span>
                                </li>
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
            {% endif %}
            {% if layer.dimension is defined and layer.dimension|length > 0 %}
                <tr>
                    <td>{{ "mb.wms.wmsloader.repo.layer.label.dimension" | trans }}:</td>
                    <td>
                        <ul class="list-unstyled">
                            {% for dimension in layer.dimension %}
                                <li>
        <span>
          name:'{{ dimension.name }}', units:'{{ dimension.units }}', unitSymbol:'{{ dimension.unitSymbol }}',
          default:'{{ dimension.default }}', multipleValues:'{{ dimension.multipleValues }}', nearestValue:'{{ dimension.nearestValue }}',
          current:'{{ dimension.current }}', extent:'{{ dimension.extent }}'
        </span>
                                </li>
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
            {% endif %}
            {% if layer.extent is defined and layer.extent|length > 0 %}
                <tr>
                    <td>{{ "mb.wms.wmsloader.repo.layer.label.extent" | trans }}:</td>
                    <td>
                        <ul class="list-unstyled">
                            {% for extent in layer.extent %}
                                <li>
          <span>
            {{ extent.name }} {{ extent.default }} {{ extent.multipleValues }}
              {#{ extent.nearestValue }} {{ extent.current }} {{ extent.extentValue }#}
          </span>
                                </li>
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
            {% endif %}
            {% if layer.dataUrl is defined and layer.dataUrl|length > 0 %}
                <tr>
                    <td>{{ "mb.wms.wmsloader.repo.layer.label.dataurl" | trans }}:</td>
                    <td>
                        <ul class="list-unstyled">
                            {% for dataUrl in layer.dataUrl %}
                                <li>
          <span>
            {{ dataUrl.format }} {{ dataUrl.href }}
          </span>
                                </li>
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
            {% endif %}
            {% if layer.featureListUrl is defined and layer.featureListUrl|length > 0 %}
                <tr>
                    <td>{{ "mb.wms.wmsloader.repo.layer.label.featurelisturl" | trans }}:</td>
                    <td>
                        <ul class="list-unstyled">
                            {% for featureUrl in layer.featureListUrl %}
                                <li>
            <span>
              {{ featureUrl.format }} {{ featureUrl.href }}
            </span>
                                </li>
                            {% endfor %}
                        </ul>
                    </td>
                </tr>

            {% endif %}


        </table>
    </li>


    {% if layer.sublayer|length > 0 %}
        {% set itemLevel = itemLevel+ 1  %}
        {% for sublayer in layer.sublayer %}
            <li class="list-group-item">
                <div data-toggle="collapse" data-target="#Sublayer{{ itemLevel~'-'~loop.index  }}"><i class="fa fa-chevron-down"></i>Layer: {{ sublayer.name }}</div>
                {% include "MapbenderWmsBundle:Repository:layer.html.twig"  with {'layer': sublayer, 'itemLevel': itemLevel  , iteration : loop.index } %}
            </li>
        {% endfor %}
    {% endif %}


</ul>






