{% macro requestinformation(requestinformation, title) %}
    {% for key in ['httpGet','httpPost'] %}
        <tr>
        <td >{{ title }} GET:</td>
        <td >{{ attribute(requestinformation,key) }}</td>
        </tr>


    {% endfor %}
    <tr>
    <td >{{ title }} {{ "mb.wms.wmsloader.repo.macros.label.formats" | trans }}:</td>
    <td>
        {% for format in requestinformation.formats %}
        <span class="badge badge-secondary">{{ format }}</span>
    {% endfor %}
    </td>
    </tr>

{% endmacro %}
