{% extends "MapbenderManagerBundle::manager.html.twig" %}
{% from "MapbenderWmsBundle:Repository:macros.html.twig" import requestinformation %}

{% block title %}{{ wms.type }} {{ wms.title }}{% endblock %}
{% block manager_content %}
    <div id="serviceTabContainer" class="tabContainer pt-2">
        {% include 'MapbenderCoreBundle:Util:TabNavigation.html.twig' with{ tabs : ['MetaData','Contact','Service','Layers']
         ,transNS:  'mb.wms.wmsloader.repo.view.label.' } %}
        <div class="tab-content">
            <div id="containerMetaData" class="container no-gutters tab-pane fadein active">
                <table class="table">
                    {% for key in ['title','name','version','originUrl','description','onlineResource', 'fees', 'accessconstraints'] %}
                        <tr>
                            {% set trans = "mb.wms.wmsloader.repo.view.label."~key %}

                            <td>{{ trans | trans }}</td>
                            <td>{{ attribute(wms,key) }} </td>
                        </tr>
                    {% endfor %}
                    <tr>

                        <td class="labelText">{{ "mb.wms.wmsloader.repo.view.label.exceptionformats" | trans }}:</td>
                        <td>
                            {% for exc in wms.exceptionFormats %}
                                {% if not loop.first %},{% endif %}
                                {{ exc }}
                            {% endfor %}
                        </td>
                    </tr>
                </table>
            </div>
            <div id="containerContact" class="container no-gutters tab-pane fadein">
                <table class="table table-striped">
                    {% for key in ['person','organization','position','voiceTelephone','facsimileTelephone','electronicMailAddress','address','addressType','addressCity','addressStateOrProvince'] %}

                        <tr>
                            {% set trans = "mb.wms.wmsloader.repo.view.label."~key %}
                            <td>{{ trans | trans }}</td>
                            <td>{{ attribute(wms,'contact') ? attribute(wms.contact,key) : '' }} </td>
                        </tr>
                    {% endfor %}
                </table>

            </div>
            <div id="containerService" class="container no-gutters tab-pane fadein ">
                <table class="table table-striped">
                    <tr>
                        <td>{{ "mb.wms.wmsloader.repo.view.label.version" | trans }}:</td>
                        <td>{{ wms.version }}</td>
                    </tr>
                    {% for key in ['GetCapabilities','GetMap','GetFeatureinfo','GetLegendGraphic','DescribeLayer','GetStyles','PutStyles'] %}

                        {% if attribute(wms,key) is not empty %}
                            {{ requestinformation(attribute(wms,key), key) }}
                        {% endif %}

                    {% endfor %}
                </table>
            </div>
            <div id="containerLayers" class="container no-gutters tab-pane fadein   ">
                {% if wms.version == '1.1.1' %}
                    <div class="messageBox hint">{{ 'mb.wms.wmsloader.repo.view.message.cautionscalehint'|trans }}</div>
                {% endif %}
                {% include "MapbenderWmsBundle:Repository:layer.html.twig"  with {'layer': wms.rootlayer, 'itemLevel': 1 } %}
            </div>
        </div>
    </div>


{% endblock %}
