{% extends "MapbenderManagerBundle::manager.html.twig" %}

{% block title %}
    {{ "mb.manager.admin.applications" | trans }}
{% endblock %}

{% block js %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/mapbendermanager/js/application-list.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/mapbendermanager/js/confirm-delete.js') }}"></script>
{% endblock %}

{% block searchbar %}
    <div class="form-inline col-md-5 p-1">
        <input placeholder="{{ "mb.manager.admin.filter.application"|trans }}" type="text"
               class="form-control -fn-list-search">
    </div>

{% endblock %}



{% block manager_content %}


    {% if applications | length > 0 %}




        <div class="row pt-5 d-flex  align-items-stretch">

            {% for application in applications %}


                <div class="card  p-3 mx-3 mb-5 border-primary rounded -fn-application"
                     style="width: 18rem; height: 400px;">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item -fn-application-title text-truncate" data-toggle="tooltip" data-placement="right"  title="{{ application.title }}">{{ application.title }}</li>
                        <li class="list-group-item">
                            {% if application.screenshot is not null %}
                                <object class="mx-auto d-block" data="{{ uploads_web_url }}/{{ application.slug }}/{{ application.screenshot }}?t={% if time != null %}{{ time | date('d.m.Y-H:i:s') }}{% endif %}"
                                        type="image/jpg">
                                    <img class="mx-auto d-block" style="width: 120px; height: 120px;" />
                                </object>

                            {% else %}
                                <object class="mx-auto d-block " style="width: 120px; height: 120px;"  ><i class="fa fa-picture-o" style="font-size:120px "></i></object>
                            {% endif %}
                        </li>
                        <li class="list-group-item">
                            <div class="buttonGroup">
                                <a class="iconView hover-highlight-effect" target="_blank"
                                   href="{{ path('mapbender_core_application_application', {'slug': application.slug}) }}"
                                   title="{{ 'mb.manager.admin.application.view' | trans }} {{ application.title }}"></a>

                                {% if application.source is constant('Mapbender\\CoreBundle\\Entity\\Application::SOURCE_DB') and is_granted('EDIT', application) %}
                                    <a class="iconCopy hover-highlight-effect"
                                       href="{{ path('mapbender_manager_application_copydirectly', {'slug': application.slug}) }}"
                                       title="{{ 'mb.manager.admin.application.duplicate'|trans }} {{ application.title }}"></a>
                                {% endif %}

                                {% if application.source is constant('Mapbender\\CoreBundle\\Entity\\Application::SOURCE_DB') and is_granted('EDIT', application) %}
                                    <a class="iconEdit hover-highlight-effect"
                                       href="{{ path('mapbender_manager_application_edit', {'slug': application.slug}) }}"
                                       title="{{ 'mb.manager.admin.application.edit.title' | trans }} {{ application.title }}"></a>
                                {% endif %}

                                {% if application.source is constant('Mapbender\\CoreBundle\\Entity\\Application::SOURCE_DB') and is_granted('EDIT', application) %}
                                    <a href="#"
                                       class="{{ application.published ? 'iconPublishActive' : 'iconPublish disabled' }} hover-highlight-effect"
                                       title="{{ 'mb.manager.admin.application.public.on_off' | trans }} {{ application.title }}"
                                       data-url="{{ path('mapbender_manager_application_togglestate', {'slug': application.slug}) }}"></a>
                                {% endif %}

                                {% if application.source is constant('Mapbender\\CoreBundle\\Entity\\Application::SOURCE_DB') and is_granted('DELETE', application) %}
                                    <span class="iconRemove hover-highlight-effect"
                                          title="{{ 'mb.manager.admin.application.delete'|trans }} {{ application.title }}"
                                          data-url="{{ path('mapbender_manager_application_delete', { 'slug': application.slug}) }}"
                                          data-slug="{{ application.slug }}"></span>
                                {% endif %}
                            </div>
                        </li>
                        <li class="list-group-item p-0 d-block  " style="height: 120px; overflow: hidden">{{ application.description }}</li>
                    </ul>

                </div>
            {% endfor %}
        </div>
    {% else %}
        <span class="description">{{ 'mb.manager.admin.application.no_application' | trans }}</span>
    {% endif %}

    <script>
        window.onload = function () {
            $(function () {
                $('[data-toggle="tooltip"]').tooltip()
            })
        }
    </script>
{% endblock %}