{% extends "MapbenderManagerBundle::manager.html.twig" %}

{% block title %}{{ 'mb.manager.admin.sources' | trans }}{% endblock %}



{% block js %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/mapbendermanager/js/service-list.js') }}"></script>
{% endblock %}

{% block manager_content %}

    {% if create_permission %}
        <a class="iconAdd iconBig right" href="{{ path("mapbender_manager_repository_new") }}"
           title="{{ 'mb.manager.admin.source.add' | trans }}"></a>
    {% endif %}
    {% if sources|length > 0 %}


        <table id="-fn-sources-table" class="table table-striped">

            <thead>
            <tr>
                <td>Id</td>
                <td>Type</td>
                <td>description</td>
                <td>Details</td>
                <td>Actions</td>

            </tr>
            </thead>

            <tbody>
            {% for source in sources %}

                <tr>
                    <td>{{ source.id }}</td>
                    <td>{{ source.type }}</td>
                    <td>{{ source.description }}</td>

                    <td>
                        {% if usedInApplication[source.id] is defined %}
                            <div data-toggle="collapse" data-target="{{ '#-fn-used-in-' ~loop.index   }}">Genutzt in <i class="fa fa-chevron-down"></i></div>
                            <ul id="{{ '-fn-used-in-' ~loop.index   }}" class="list-group collapse">
                                {% for application in usedInApplication[source.id] %}
                                    <li class="list-group-item"><a href="">{{ application.title }}</a></li>
                                {% endfor %}
                            </ul>

                        {% endif %}
                    </td>
                    <td>
                        <div class="form-inline">
                            <a class="iconView hover-highlight-effect"
                               href="{{ path("mapbender_manager_repository_view",{"sourceId":source.id}) }}"
                               title="{{ 'mb.manager.admin.source.show_metadata' | trans }}"></a>
                            {% if is_granted('EDIT', oid) or is_granted('EDIT', source) %}
                                <a class="iconReset hover-highlight-effect"
                                   href="{{ path("mapbender_manager_repository_updateform",{"sourceId":source.id}) }}"
                                   title="{{ 'mb.manager.admin.source.update' | trans }} {{ source.title }}"></a>
                            {% endif %}
                            {% if is_granted('DELETE', oid) or is_granted('DELETE', source) %}
                                <span class="iconRemove hover-highlight-effect"
                                      title="{{ "mb.manager.admin.source.delete"|trans }} {{ source.title }}"
                                      data-url="{{ path("mapbender_manager_repository_confirmdelete",{"sourceId":source.id}) }}"
                                      data-id="{{ source.id }}"></span>
                            {% endif %}
                        </div>
                    </td>

                </tr>

            {% else %}
                <li class="description">{{ 'mb.manager.admin.source.no_source' | trans }}</li>
            {% endfor %}

            </tbody>
        </table>







    {% endif %}

    <script>
        window.onload = function () {
          $('#-fn-sources-table').DataTable( {
              responsive: true,
                columnDefs: [ {
                    targets: 2,
                    render: function ( data, type, row ) {
                        return data.substr( 0, 100) + '...';
                    }
                } ]
            } );
        }
    </script>
{% endblock %}
