{% extends "MapbenderManagerBundle::manager.html.twig" %}

{% block title %}{{ 'mb.manager.admin.source.new.add' | trans }}{% endblock %}

{% block css %}
    {{ parent() }}
{% endblock %}

{% block manager_content %}
    <div id="sourceTabContainer" class="tabContainer sourceTabContainer">
        <nav>
            <div class="nav nav-tabs" role="tablist">
                {% for name, manager in managers %}
                    {% set active = loop.first ? 'active' : '' %}
                    <a data-toggle="tab" id="tab{{ loop.index }}" class="nav-item nav-link {{ active }}"
                       href="#container{{ loop.index }}">{{ manager.label }}</a>
                {% endfor %}
            </div>
        </nav>

        <div class="tab-content">

            {% for name, manager in managers %}
                <div class="no-gutters tab-pane fadein active" id="container{{ loop.index }}"
                     class="container no-gutters containerBaseData{% if loop.first %} active{% endif %}">
                    {% render controller(manager.startAction) %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
