{% extends "MapbenderCoreBundle::index.html.twig" %}
{% block css %}
    <link rel="stylesheet"
          href="{{ path('mapbender_core_application_assets', {'slug': 'mb3-login', 'type': 'css'}) }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('components/cookieconsent/build/cookieconsent.min.css') }}"/>
{% endblock %}

{% block title %}
    {{ 'fom.user.login.login.title' | trans }}
{% endblock %}

{% block content %}
    <div class="container-fluid no-gutters h-100">
        <div class="row h-100">
            <div class="col-md-9 bg-dark">
                <img alt="..." class="rounded mx-auto my-auto d-block w-100 h-100"
                     src="{{ asset("bundles/mapbendercore/image/Continents.svg") }}">

            </div>


            <div class="col-md-3">
                <div class="mt-5">
                    <img alt="..." class="m-auto  d-block "
                         src="{{ asset("bundles/mapbendercore/image/logo_mb3.png") }}">


                    {% include "MapbenderCoreBundle:Login:inputFields.html.twig" %}
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        if (top != window) {
            top.location.href = location.href;
            top.location.reload();
        }
        var Mapbender = Mapbender || {};
        Mapbender.configuration = {
            elements: {}
        };
    </script>
    {% include 'MapbenderCoreBundle::cookieconsent.html.twig' %}
{% endblock %}
