


<ul class="list-group">
    <li class="list-group-item">
        <div class="right -fn-add-permission" data-url="{{ path('fom_user_acl_overview') }}"
             title="{{ 'mb.manager.admin.application.security.add_users_groups'|trans }}"><span class="iconBig iconAdd"></span>
        </div>

    </li>
    <li class="list-group-item">
        {{ form_widget(form.published) }}<label for="{{ form.published.vars.id }}"
                                                class="">{{ "mb.manager.admin.application.security.public"|trans }}</label>
    </li>
    <li class="list-group-item">

        {{ form_widget(form.acl)

        }}
    </li>
</ul>