{% set application = {'slug': 'manager'} %}
{% extends "MapbenderManagerBundle::manager.html.twig" %}

{% block title %}{{ "mb.manager.admin.application.new.title" | trans}}{% endblock %}

{% block js %}
  {{parent()}}
  <script type="text/javascript" src="{{ asset('bundles/fomuser/js/acl-form.js') }}"></script>
  <script type="text/javascript" src="{{ asset('bundles/mapbendermanager/js/application-edit.js') }}"></script>
  <script type="text/javascript" src="{{ asset('bundles/mapbendermanager/js/confirm-delete.js') }}"></script>
{% endblock %}

{% block manager_content %}
    {{ form_start(form, {"attr": {"action": path('mapbender_manager_application_create'), "novalidate": "novalidate"}}) }}
    <div id="applicationTabContainer" class="container-fluid tabContainer applicationTabContainer">
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a  class="nav-item nav-link  active" data-toggle="tab" href="#containerBaseData"> {{"mb.manager.admin.application.new.base_data" | trans }}</a></li>
                <a  class="nav-item nav-link " data-toggle="tab" href="#containerSecurity"> {{"mb.manager.admin.application.security.title" | trans }}</a> </li>
            </div>
        </nav>
    <div class="tab-content">
      <div id="containerBaseData" class="container active rounded-0  containerBaseData row no-gutters tab-pane fadein active">
          <div class="col-xs-8">
            <label class="labelInput" for="{{ form.title.vars.id }}">{{"mb.manager.admin.application.template" | trans}}:<span class="required">*</span></label>
            {{ form_widget(form.template) }}
            {% include 'MapbenderManagerBundle:Application:form-basic.html.twig' %}
           </div>
           <div class="col-xs-4">
                <div class="messageBox hint">
                    {{"mb.manager.admin.application.create_use" | trans }}
                </div>
           </div>
      </div>

      <div id="containerSecurity" class="container rounded-0  containerSecurity row no-gutters tab-pane fadein ">
        {% block securityTab %}
          {% include 'MapbenderManagerBundle:Application:form-security.html.twig' %}
        {% endblock %}
      </div>
    </div>
    </div>
    <div class="button-group">
      <button type="submit" value="{{ 'mb.manager.admin.application.btn.create' | trans }}" class="btn btn-success">{{ 'mb.manager.admin.application.btn.create' | trans }}</button>
      <a href="{{ path('mapbender_manager_application_index') }}" class="btn btn-warning">{{ 'mb.manager.admin.application.btn.cancel' | trans}}</a>
    </div>

    {{ form_row(form._token) }}
    {{ form_end(form, {"render_rest": false}) }}
{% endblock %}
