{% extends "MapbenderCoreBundle::index.html.twig" %}

{% set title %}
    {% block title %}
        {{ title|default('') }}
    {% endblock %}
{% endset %}

{% block favicon %}
    {{ asset('favicon.png') }}
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ path('mapbender_core_application_assets', {'slug': 'manager','type': 'css'}) }}"/>
{% endblock %}

{% block js %}
    {{ parent() }}
    <script type="text/javascript"
            src="{{ path('mapbender_core_application_assets', {'slug': 'manager','type': 'js'}) }}"></script>
    <script type="text/javascript"
            src="{{ path('mapbender_core_application_assets', {'slug': 'manager','type': 'trans'}) }}"></script>
{% endblock %}

{% block content %}
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark  shadow">
        <a class=" navbar-brand" href="#">Mapbender</a>
        <ul class="navbar-nav mr-auto">
            {% include 'MapbenderManagerBundle:Index:menu.html.twig' with {menu: mapbender_manager_menu_items(app.request)} %}
        </ul>
        {% include "MapbenderManagerBundle:Index:header.html.twig" %}
    </nav>


    <div class="container-fluid content" id="container">

        <div class="row">

            <div class="container-fluid ">
                {% block manager_content %}{% endblock %}
            </div>
        </div>

    </div>


{% endblock %}
