{% extends "MapbenderCoreBundle::index.html.twig" %}

{% set title %}{% block title %}{{ title|default('') }}{% endblock %}{% endset %}

{% block favicon %}{{ asset('favicon.png') }}{% endblock %}

{% block css %}
  <link rel="stylesheet" href="{{ path('mapbender_core_application_assets', {'slug': 'manager','type': 'css'}) }}"/>
{% endblock %}

{% block js %}
  {{parent()}}
  <script type="text/javascript" src="{{ path('mapbender_core_application_assets', {'slug': 'manager','type': 'js'}) }}"></script>
  <script type="text/javascript" src="{{ path('mapbender_core_application_assets', {'slug': 'manager','type': 'trans'}) }}"></script>
{% endblock %}

{% block content %}
<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow rounded-0  ">
    <a class="float-left navbar-brand  col " href="#">Mapbender</a>




    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Login/User
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
    </div>




</nav>
<div id="container" class="container-fluid pt-2">

    <div class="row">
        <nav class="col-sm-1 d-none d-md-block bg-light sidebar">
            {% include 'MapbenderManagerBundle:Index:menu.html.twig' with {menu: mapbender_manager_menu_items(app.request)} %}
        </nav>
        <div class="col">
            <div class="container-fluid content ">
            {% block manager_content %}{% endblock %}
            </div>
        </div>
    </div>
</div>



{% endblock %}
