{#
  Copied into Mapbender from FOM v3.0.6.3
  see https://github.com/mapbender/fom/blob/v3.0.6.3/src/FOM/ManagerBundle/Resources/views/Manager/menu.html.twig
#}
<div class="sidebar-sticky">
    <ul class="nav flex-column">
  {% for k, item in menu %}

    <li id="manager-{{ k }}" class="nav-item {% if item.active is defined %} activeItem {% endif %}">
      <a class="nav-link" href="{{ path(item.route) }}">{{ item.title|trans }}</a>

    {% if item.subroutes is defined and item.subroutes %}
      <ul class="nav flex-column">

        {% for item in item.subroutes %}
          <li class="{% if item.active is defined and item.active %} activeItem {% endif %} nav-item">
            <a{% if item.idx is defined %} id="{{ item.idx }}"{% endif %} class="nav-link" href="{{ path(item.route) }}">{{ item.title|trans }}</a>

            {% if item.subroutes is defined and item.subroutes %}
              <ul class="nav flex-column">

                {% for item in item.subroutes %}
                  <li class="nav-item {% if item.active is defined and item.active %} activeItem {% endif %}">
                    <a class="nav-link" href="{{ path(item.route) }}">{{ item.title|trans }}</a>
                  </li>
                {% endfor %}

              </ul>
            {% endif %}

          </li>

        {% endfor %}
      </ul>
        <hr>
    {% endif %}

    </li>
  {% endfor %}
</ul>

</div>
