{#
  Copied into Mapbender from FOM v3.0.6.3
  see https://github.com/mapbender/fom/blob/v3.0.6.3/src/FOM/ManagerBundle/Resources/views/Manager/menu.html.twig
#}

{% for k, item in menu %}
    <li class="nav-item dropdown">
        <a ahref=" {{ path(item.route) }} " class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">{{ item.title|trans }}</a>
        <div class="dropdown-menu">
            <a class="dropdown-item" href=" {{ path(item.route) }} " href="#">{{ item.title|trans }}</a>
            {% if item.subroutes is defined and item.subroutes %}
                {% for item in item.subroutes %}
                    <a {% if item.idx is defined %} id="{{ item.idx }}" {% endif %} class="dropdown-item" href="{{ path(item.route) }}">{{ item.title|trans }}</a>
                    {% if item.subroutes is defined and item.subroutes %}
                        {% for item in item.subroutes %}
                            <a class="dropdown-item" href="{{ path(item.route) }}">{{ item.title|trans }}</a>
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>

    </li>

{% endfor %}
